LMSGI_JSON/PART1_XML-JSON/Botiga.dtd

<!ELEMENT botiga (producte+)>
<!ATTLIST botiga
    nom CDATA #REQUIRED
    moneda CDATA #REQUIRED
>

<!ELEMENT producte (nom, descripcio, preu, categoria, disponibilitat, imatge)>
<!ATTLIST producte
    codi CDATA #REQUIRED
>

<!ELEMENT nom (#PCDATA)>
<!ELEMENT descripcio (#PCDATA)>
<!ELEMENT preu (#PCDATA)>
<!ELEMENT categoria (#PCDATA)>
<!ELEMENT disponibilitat (#PCDATA)>

<!ELEMENT imatge EMPTY>
<!ATTLIST imatge
    url CDATA #REQUIRED
>
